.Settings{
    position: absolute;
    right: 0;
    top: 42px;
    width: 30vw;
    max-width: 350px;
    height: calc(100vh - 38px);
    background-color: aliceblue;
    border: 1px rgb(217, 225, 232) solid;
    border-radius: 10px;

}
.Settings, .Action{
    z-index: 100;
}
.Settings h2 {
    text-align: center;
}
.saveBut{
    width: 30vw;
    max-width: 350px;
    z-index: 101;
    border: 1px rgb(202, 202, 202) solid;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    font-weight: 700;
    margin-top: -6px;
    transition: 0s;
}
.Settings textarea{
    width: calc(30vw - 6px);
    max-width: 344px;
    height: calc(100vh - 126px - 41px);
    resize: none;
}
.effectsManager, .effectsManager canvas{
    z-index: 1000;
}
.Action button{
    width: 15vw;
    max-width: calc(350px / 2);
    border: 1px rgb(202, 202, 202) solid;

}
.SpinBut {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
.HideBut {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}
.Action{
    position: absolute;
    top: 0;
    right: 0;
}
html,body {
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: hidden;

}
.winnerName div{
    background-color: antiquewhite;
    border-radius: 8px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.winnerName{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    color:cadetblue;
    font-size: 50px;
    display: flex;
    z-index: 2000;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    white-space-collapse:preserve-spaces;
}
.winnerName button{
    font-size: 15px;
}
.CloseBut {
    margin-left: 20px;

}
.RemoveBut {
    background-color: royalblue;
    color: white;
    margin-left: 4px;
}

.saveBut:enabled{
    background-color: royalblue;
    color: white;
    transition: 0.4s;
}
.saveBut:disabled{
    transition: 0.4s;
    background-color: #f9f9f9;
    color:rgba(16, 16, 16, 0.3);
}